annotated-types==0.7.0
asciitree==0.3.3
attrs==25.3.0
bdbc-nwb-packager @ file://../pipeline-core/bdbc-nwb-packager
bdbc-session-explorer @ file://../pipeline-core/bdbc-session-explorer
blosc2==2.7.1
click==8.1.8
docstring_parser==0.16
fasteners==0.19
h5py==3.13.0
hdmf==4.0.0
hdmf_zarr==0.11.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
msgpack==1.1.0
ndindex==1.9.2
ndx-pose==0.2.1
neuroconv==0.7.1
numcodecs==0.13.1
numexpr==2.10.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
parse==1.20.2
psutil==7.0.0
py-cpuinfo==9.0.0
pydantic==2.11.1
pydantic_core==2.33.0
pynwb==3.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
tables==3.10.1
threadpoolctl==3.6.0
tifffile==2025.3.30
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2025.2
zarr==2.18.3
